
.nav-bar{
    background: rgb(75,6,84);
    background: linear-gradient(90deg, rgba(75,6,84,1) 0%, rgba(96,7,107,1) 83%, rgba(0,0,0,1) 100%);
    width: 100vw;
    height: 80px;

    ul{
        float: right;
        margin-right: 20px;
    }

    li{
        display: inline-block;
        line-height: 80px;
        margin: 0 10px;
    }
}

.logo{
    color: $cor-branca;
    font-size: 3rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.nav-links a {
    color: $cor-branca;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.7s ease;

    &:hover{
        color: aquamarine;
    }
}


.checkbtn {
    font-size: 30px;
    color: $cor-branca;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }
    nav ul lia a{
        font-size: 16px;    
    } 
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(18,0,20);
        background: linear-gradient(0deg, rgba(18,0,20,0.7) 0%, rgba(19,0,19,0.8267682072829132) 100%);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .nav-bar ul li{
        display: block;

        a{
            font-size: 20px;

            &:hover, &:active{
                background: none;
                color: aqua;
            }
        }        
    }

    

    #check:checked ~ ul{
        left: 0;
    }
}
