*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.fp-tableCell {
    vertical-align: top !important;
}

.nav-bar{
    background: rgb(75,6,84);
    background: linear-gradient(90deg, rgba(75,6,84,0.99) 0%, rgba(96,7,107,1) 83%, rgba(0,0,0,1) 100%);
    width: 100vw;
    height: 80px;
}

.logo{
    color: white;
    font-size: 3rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.nav-bar ul{
    float: right;
    margin-right: 20px;
}

.nav-bar li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.7s ease;
}

.nav-links a:hover{
    color: aquamarine;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }
    nav ul lia a{
        font-size: 16px;    
    } 
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(18,0,20);
        background: linear-gradient(0deg, rgba(18,0,20,0.7) 0%, rgba(19,0,19,0.8267682072829132) 100%);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .nav-bar ul li{
        display: block;
    }

    .nav-bar ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: aqua;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

/* Content */

.chair {
    height: 60%;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
}

.s1 {
    background-color: #87c7df;
    background-image: url(../img/couch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-h1{
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    background: linear-gradient(to left, #87c7df, #648896);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s2 {
    background: linear-gradient(to left top, #cbcbcb, white);
}

.s2 h1{
    font-size: 4.8rem;
    background: linear-gradient(to left, #303030, #414141);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    margin: 20%;
    width: 30%;
    margin-left: 5%;
    font-size: 2rem
}

.description p{
    margin: 50px 0px;
}
